body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela-centralizada{
    width: 170px;
    height: 80px;
}

.input{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
}

.button{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    align-items: center;
}

